@font-face {
  font-family: 'COCOGOOSE';
  font-style: normal;
  font-weight: 400;
  src: local("COCOGOOSE"), url("https://fonts.cdnfonts.com/s/26936/cocogoose_trial.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: none;
}

.hero {
  background-image: url(./images/header-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 74px 18px;
}

.hero-caption {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 2.25rem;
  color: #ec5242;
  text-transform: uppercase;
  line-height: 1.1;
  padding-top: 30px;
}

.caption-intro {
  font-family: "Lato", sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  color: #ec5242;
  display: block;
  text-transform: initial;
  padding-bottom: 12px;
}

.caption-main {
  display: block;
}

.hero-text {
  background-color: #f7f7f8;
  border: 3px solid #fff;
  padding: 16px;
  font-size: 1rem;
  margin: 20px 0;
  line-height: 1.5;
}

.hero-dates {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 1.25rem;
  color: #272a31;
  text-transform: uppercase;
  line-height: 2;
}

.hero-location {
  color: #272a31;
  font-weight: 400;
  font-size: 1rem;
}

.program {
  padding: 50px 16px 60px;
  background-image: url(./images/pattern.png);
  background-color: #272a31;
  color: #fff;
}

.main-caption {
  text-align: center;
  position: relative;
  padding-bottom: 16px;
}

.main-caption::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: #ec5242;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.program-cards-container {
  margin: 36px 0 48px;
}

.program-card {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 5px 20px 12px;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-card-title {
  font-size: 0.9375rem;
  color: #ec5242;
  text-align: left;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

.program-card-text {
  font-size: 0.8125rem;
  padding: 0 5px 0 0;
  line-height: 1.6;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.join-summit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-decoration: none;
  background-color: #ec5242;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.25rem;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.speakers {
  padding: 50px 16px 0;
}

.speakers-container {
  margin: 40px 0 0;
}

.speaker-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 50px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.speaker-img {
  width: 100px;
  height: auto;
}

.speaker-name {
  font-size: 1.0625rem;
  font-weight: 700;
  margin: 0 0 5px;
}

.speaker-position {
  color: #ec5242;
  font-style: italic;
  font-weight: 700;
  font-size: 0.9375rem;
  position: relative;
  padding: 0 0 12px;
}

.speaker-position::after {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #d3d3d3;
  position: absolute;
  bottom: 0;
  left: 0;
}

.speaker-text {
  margin: 12px 0 0;
  font-size: 0.8125rem;
  line-height: 1.5;
}

.partners {
  background-color: #2e2e2e;
  color: #fff;
  padding: 50px 20px;
}

.partners-container {
  margin: 50px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 30px;
}

.partner {
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
  opacity: 0.5;
  width: 130px;
}

.partner:hover {
  opacity: 1;
}

.footer-home {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  width: 200px;
}

.footer-credit {
  font-size: 0.875rem;
  font-weight: 400;
}

.hidden {
  display: none;
}
